/*button*/

.btn {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #fff;
  }
}
